---
import { getCollection } from 'astro:content';
import HomeLayout from '../layouts/HomeLayout.astro';
const query = decodeURI(Astro.url.search.split("query=")[1]).toLocaleLowerCase();
const posts = await getCollection("tutorials", entry => { return entry.data.title.toLowerCase().includes(query)})
---

<HomeLayout title="Pencarian | Seneng Ngoding">
    <div class="flex content-center bg-gray-200">
        <div class="w-7/8 md:w-3/5  mx-auto my-9">
            <h1 class="text-3xl font-bold p-3">{`Hasil Pencarian untuk '${query}' (${posts.length})`}</h1>
            <div class="rounded-xl bg-white min-h-screen">
                {posts.map(entry => {
                    return (<div class="p-2 m-3">
                                <a href={`/tutorials/${entry.slug}`} >
                                    <h2 class="text-xl font-bold hover:underline">{entry.data.title}</h2>
                                    <p>{entry.data.description}</p>
                                </a>
                            </div>)
                })}
            </div>
        </div>
    </div>
</HomeLayout>